body {
    margin: 0;
    overflow: hidden;
    z-index: 3;
}

#ammo{
    position: absolute;
    margin-left: 90%;
    z-index: 2;
}

#button1{
    position: absolute;
}
#life{
    position: absolute;
    margin-top: 50%;
}